@model NegareshNo.Core.ViewModels.Consultant.ConsultantLoginVM
@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="my-5">

    <form asp-controller="Identity" asp-action="Login" method="Post">

        <div class="container col-sm-12 col-md-8 alert alert-warning text-right mt-2 p-4 h6 " dir="rtl">
            <strong>فرم ورود مدیر سایت</strong>
        </div>

        <div class="container col-sm-12 col-md-10 col-lg-7" dir="rtl">
            <div class="border-right p-5 text-right">
                @if (ViewBag.IsSuccess != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" style="text-align:right">
                        <span> ورود با موفقیت انجام شد</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <script>
                        // Your delay in milliseconds
                        var delay = 2000;
                        setTimeout(function () { window.location = "/"; }, delay);
                    </script>
                }
                <div>
                    <strong>نام کاربری   :</strong>
                    <span class="badge badge-danger">این قسمت حتما باید پر شود</span>
                    <input asp-for="UserName" type="text" id="defaultContactFormName" class="form-control mb-4"
                           placeholder="نام کاربری">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div>
                    <strong>  کلمه عبور:</strong>
                    <span class="badge badge-danger">این قسمت حتما باید پر شود</span>
                    <input asp-for="Password" type="password" id="defaultContactFormName" class="form-control mb-4"
                           placeholder="**********">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                </div>
            </div>
        </div>
        <div class="container col-8 mt-3">
            <input type="submit" value="ورود" class="btn btn-outline-default btn-block" />
        </div>

    </form>
</section>


