<!-- start footer  -->
<!-- Footer -->
<footer class="page-footer font-small mdb-color default-color pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-md-6">

                <!-- Video -->
                <div style="height: 200px;">
                    <div class="text-center">
                        <h4>
                            با موسسه روانشناسی نگرش نو
                        </h4>
                        <h6 class="text-center">:راه های ارتباطی</h6>
                        <span>0543323323</span>
                        /
                        <span>09153402208</span>
                        /
                        <span>09332856412</span>
                        <h6 class="text-center">:آدرس</h6>
                        <span>زاهدان _ بلوار معلم _ معلم 7</span>
                    </div>
                </div>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        راه ارتباط با طراح سایت:
        <a href="/">09332839823</a>
    </div>
    <!-- Copyright -->

</footer>