
@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="container col-10 mt-3">
        <div class="text-right">
            <p class="h3">اطلاعات تماس</p>
            <hr>
            <div dir="rtl">
                <p class="h6 text-muted"><strong class="text-default"> ایمیل:</strong>example@email.com</p>

                <p class="h6 text-muted"><strong class="text-default"> شماره تماس:</strong>09153402208</p>

                <p class="h6 text-muted"><strong class="text-default"> وب سایت:</strong>negarsheno.ir</p>

                <p class="h6 text-muted"><strong class="text-default"> آدرس:</strong>زاهدان _ بلوار معلم _ معلم 7</p>
            </div>
        </div>
    </div>

    <div style="margin:100%"></div>
</section>


