
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container col-10">

        <p class="note note-secondary text-right p-5 my-5">
            <strong>:درباره ما</strong>
            <br>
            <br>

            در کسب و کارهای سنتی برای اینکه دیگران شما را بشناسند، کمی دربارۀ خود و کاری که انجام می‌دهید توضیح می‌دهید.
            حالا برای چیزی مانند سایت مخاطب از کجا باید متوجه کسب و کار و هدف شما بداند؟ بهترین راه اضافه کردن توضیحاتی
            درمورد خودتان در صفحۀ «درباره ما» وب‌سایت‌تان است.

            وجود «صفحه درباره ما» در سایت اهمیت زیادی دارد؛ چون به کسانی که به سایت شما رجوع می کنند، توضیح می دهد که
            شما چه کسانی هستید؟ چه کسب و کاری دارید؟ و هدفی که در راه اندازی کسب و کار دارید چیست.

            بعضی از افراد، در وب‌سایت خود برای توضیح دادن به سوالات بالا از مطالب بسیار طولانی و یا برعکس مطالب بسیار
            کوتاه و ناقص استفاده می کنند، که این کار باعث از بین رفتن اعتبار شرکت خواهد شد. بنابراین تصمیم گرفتیم، که در
            این مقاله به سوالی که تحت عنوان چگونه یک صفحه درباره ما بنویسیم؟ وجود دارد پاسخ داده و به نمونه‌هایی از صفحه
            درباره ما اشاره کنیم.

            ایجاد صفحه درباره ما

            چگونه یک صفحه درباره ما بنویسیم؟
            بسیاری از افراد و حتی خود ما وقتی به دنبال محصول یا خدمت هستیم، برای خرید آن به وب سایت رجوع کرده و پس از
            جستجوی زیاد در سایت های مختلف کالا یا محصولات خود را می خریم و اصلا به صفحه «درباره ما» توجه نمی کنیم.

            ولی زمانی که یک کاربر به مشتری تبدیل می شود، یعنی تمام محصولات خود را از یک سایت مشخص خرید می کند تازه این
            سوالات برایش پیش می آید که:

            آیا شرکتی که از آن خرید می کنم، واقعا شرکت بزرگ و معتبری است؟
            شرکت عمومی است یا خصوصی؟
            چند سال است که فعالیت می کند؟
            مقر اصلی آن در کجا قرار دارد؟
            خدمات و ارزش های اصلی شرکت چیست؟
            به چه دلایلی باید از این شرکت خرید کنم و دیگر شرکت ها را رها کنم؟
            در این زمان است که صفحه «درباره ما» به کار شما می آید و مشتری به جواب سوالهایش دست پیدا خواهد کرد. به این
            ترتیب، اگر شما در توضیح آن مطالب خوبی ننویسید، احتمالا مشتری سایت شما را ترک کرده و فروش شما دوام زیادی
            نخواهد داشت.

            اگر سایت‌ شرکت را خودتان طراحی کرده باشید و مدیریتش در دست خودتان باشد، تمرکز شما بیشتر روی قرار دادن
            محصولات و نوشتن محتوای جذاب در مورد محصولات و طراحی داخلی سایت می باشد. متاسفانه در اکثر اوقات در حق صفحۀ
            درباره ما اجحاف شده و به آن بی‌توجهی می‌شود!

            بسیاری از شرکت های بزرگ و موفق به سوالاتی که در ذهن مشتریان پیش می آید توجه کرده و یک رابطه دوطرفه بین مشتری
            و شرکت برقرار می‌شود. صفحه درباره ما می تواند اولین گام برای رسیدن به این هدف باشد. در ادامه مقاله در مورد
            اهمیت صفحه درباره ما و نکاتی که باید در این صفحه رعایت شود را توضیح می دهیم.

        </p>
    </div>
    <div style="height: 200px;"></div>
</section>