@model  NegareshNo.Data.Model.Consulting.Article

<div class="item">
    <h2 class="text-right p-3 font-weight-bold text-warning">@Model.Title</h2>
    <p class="text-right text-muted p-2">
        @Model.Summery
    </p>
    <a href="/Article/@Model.ArticleId" class="btn-carousel-footer btn btn-default btn-sm">ادامه متن</a>
</div>