@model IEnumerable<NegareshNo.Data.Model.Consulting.ConsultingGroup>

<div class="col-12 text-center">
    <div class="row">
        @foreach (var group in Model)
        {
            <div class="border col-md-12 col-lg">
                <figure class="imghvr-zoom-out-left">
                    <img class="img-fluid" src="~/image/ConsultantGroupImage/@group.ImageName" alt="">
                    <figcaption>
                        <p class="h5">@group.GroupTitle</p>
                        <hr>
                        <strong>@group.Summery</strong>
                    </figcaption>
                </figure>
                <h5 class="mt-5 font-weight-bold text-default">
                    @group.GroupTitle
                </h5>
                <input type="hidden" asp-for="@group.GroupId" />
                <!-- <h6 class="text-right">که شامل موارد زیر میباشد</h6> -->
            </div>
        }
    </div>
</div>